[user]
	name = username
	email = email@gmail.com
[core]
	editor = vim
[credential]
	#only for macOS
	helper = osxkeychain
[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	ff = only
	#FAST-FORWARD AVOIDS AUTOMATIC MERGE CONFLICTS
		# consider `git up` alias or `git fetch; git merge origin/branch` as more robust alternatives
		# Also consider rebasing
		# https://stackoverflow.com/questions/15316601/in-what-cases-could-git-pull-be-harmful
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
[color]
    	branch = auto
    	diff = auto
    	status = auto
[color "branch"]
   	 current = yellow reverse
    	local = yellow
    	remote = green
[color "diff"]
    	meta = yellow bold
    	frag = magenta bold
    	old = red bold
    	new = green bold
[color "status"]
    	added = yellow
    	changed = green
    	untracked = cyan
